@model WebApplication1.Data.Models.Car


	<div class="card" style="width: 300px">
		<div class="card-body">
			<img src="@Model.img" alt="img" style="width: 270px; height: 200px; border-radius: 0.375rem">
			<h5 class="card-title">@Model.name</h5>
			<p class="card-text">@Model.shortDesc</p>
			<h6 class="card-subtitle mb-2 text-muted">@Model.price.ToString("c")</h6>
			<div class="button-group">
			<a class="btn btn-primary" asp-controller="ShopCart" asp-action="addToCart" asp-route-id="@Model.id">Add to Cart</a>
			</div>
		</div>
	</div>