<div>
	<h1>@Model.currCategory</h1>

	<div class="container">
		<div class="row">
			@foreach (var car in Model.allCars) 
			{
				<div class="col-md-3" style="margin-bottom: 20px;">
					<div class="card">
						<div class="card-body">
							<img src="@car.img" alt="img" style="width: 100%; height: 200px; border-radius: 0.375rem">
							<h5 class="card-title">@car.name</h5>
							<p class="card-text">@car.shortDesc</p>
							<h6 class="card-subtitle mb-2 text-muted">@car.price.ToString("c")</h6>
							<div class="button-group">
								<button class="info_btn">More Info</button>
								<button class="cart_btn">Add to Cart</button>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>